.requir {
    color: red;
  }
  .btn {
    background: #184b8a;
  }
  .card-header {
    background: #184b8a !important;
    color: white;
    padding-bottom: 9px;
  }
  .card{
    margin-top: 50px;
    width: 1000px;
  }
  .label-insc a {
    color: #184b8a!important;
  }
  