.requir {
  color: red;
}
.btn {
  background: #184b8a;
}
.card-header {
  background: #184b8a !important;
  color: white;
  padding-bottom: 9px;
}
.card{
  margin-top: 136px;
  width: 420px;
}
.label-insc a {
  color: #184b8a!important;
}


.center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}



